<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/hello_world</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>json</servlet-name>
    <servlet-class>hello.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>json</servlet-name>
      <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plaintext</servlet-name>
    <servlet-class>hello.PlaintextServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>plaintext</servlet-name>
        <url-pattern>/plaintext</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>db</servlet-name>
    <servlet-class>hello.DbPoolServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>fortunes</servlet-name>
    <servlet-class>hello.FortunesServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>fortunes</servlet-name>
        <url-pattern>/fortunes</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>hello.UpdateServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>postgres</servlet-name>
    <servlet-class>hello.PostgresServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>postgres</servlet-name>
        <url-pattern>/postgres</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>postgres-update</servlet-name>
    <servlet-class>hello.PostgresUpdateServlet</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>postgres-update</servlet-name>
        <url-pattern>/postgres-update</url-pattern>
    </servlet-mapping>
</web-app>
